<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet" />
    <title>Bookando</title>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand">Bookando</a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre o Projeto</a>
                        </li>
                    </ul>
                    {% if perfil_logado %}
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-primary me-3">
                            {{ perfil_logado.first_name }}
                        </button>
                        <button type="button" class="btn btn-danger me-3" onclick="window.location.href='{% url 'logout' %}'">
                            Sair
                        </button>
                    </div>
                    {% else %}
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-primary me-3" data-mdb-toggle="modal"
                            data-mdb-target="#loginModal">
                            Entrar
                        </button>
                        <button type="button" class="btn btn-primary me-3" data-mdb-toggle="modal"
                            data-mdb-target="#cadastroModal">
                            Cadastrar
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row m-3">
                <form v-on:submit="busca">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" name="busca" v-model="textoBusca" />
                            <label class="form-label" for="form1">Busca</label>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="card m-5" v-for="livro in livros" style="width: 18rem;">
                    <div v-if="livro.volumeInfo.imageLinks">
                        <img v-bind:src="livro.volumeInfo.imageLinks.thumbnail" class="card-img-top"
                            alt="Fissure in Sandstone" />
                        <div class="card-body">
                            <h5 class="card-title">[[ livro.volumeInfo.title ]]</h5>
                            <p class="card-text">
                                [[ livro.volumeInfo.authors[0] ]]
                            </p>
                            <button type="button" class="btn btn-primary" v-on:click="verMais(livro)">Ver Mais</button>
                        </div>
                    </div>
                    <div v-else>
                        <div class="card-body">
                            <h5 class="card-title">[[ livro.volumeInfo.title ]]</h5>
                            <p class="card-text">
                                [[ livro.volumeInfo.authors[0] ]]
                            </p>
                            <button type="button" class="btn btn-primary" v-on:click="verMais(livro)">Ver Mais</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if not perfil_logado %}
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Área de Acesso</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="input-group mb-3 flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">@</span>
                                <input type="text" class="form-control" placeholder="Nome de Usuário"
                                    aria-label="Username" aria-describedby="addon-wrapping"
                                    v-model="dadosUsuarioLogin.nomeUsuario" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Senha</span>
                                <input type="password" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" v-model="dadosUsuarioLogin.senha" />
                            </div>
                            <div v-if="erro" class="alert alert-danger" role="alert">
                                [[ msgErro ]]
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" v-on:click="reseta()">
                            Fechar
                        </button>
                        <button type="button" class="btn btn-warning" data-mdb-target="#cadastroModal"
                            data-mdb-toggle="modal" data-mdb-dismiss="modal" v-on:click="reseta()">Criar Conta</button>
                        <button type="button" class="btn btn-success" v-on:click="login()">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cadastroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Área de Cadastro</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Primeiro e último nome</span>
                                <input type="text" aria-label="First name" class="form-control"
                                    v-model="dadosUsuarioCadastro.primeiroNome" />
                                <input type="text" aria-label="Last name" class="form-control"
                                    v-model="dadosUsuarioCadastro.segundoNome" />
                            </div>
                            <div class="input-group mb-3 flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">@</span>
                                <input type="text" class="form-control" placeholder="Nome de Usuário"
                                    aria-label="Username" aria-describedby="addon-wrapping"
                                    v-model="dadosUsuarioCadastro.nomeUsuario" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                <input type="email" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" v-model="dadosUsuarioCadastro.email" />
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Senha</span>
                                <input type="password" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" v-model="dadosUsuarioCadastro.senha" />
                            </div>
                            <div v-if="erro" class="alert alert-danger" role="alert">
                                [[ msgErro ]]
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" v-on:click="reseta()">
                            Fechar
                        </button>
                        <button type="button" class="btn btn-warning" data-mdb-target="#loginModal"
                            data-mdb-toggle="modal" data-mdb-dismiss="modal" v-on:click="reseta()">Já possui uma
                            conta</button>
                        <button type="button" class="btn btn-success" v-on:click="cadastro()">Criar Conta</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                {% if not perfil_logado %}
                erro: false,
                msgErro: null,
                dadosUsuarioCadastro: {
                    primeiroNome: null,
                    ultimoNome: null,
                    nomeUsuario: null,
                    email: null,
                    senha: null
                },
                dadosUsuarioLogin: {
                    nomeUsuario: null,
                    senha: null
                },
                {% endif %}
                textoBusca: null,
                livros: null,
            },
            methods: {
                busca: function (e) {
                    e.preventDefault();
                    if (this.textoBusca == null || this.textoBusca == "") {
                        return;
                    }
                    fetch(`https://www.googleapis.com/books/v1/volumes?q=${this.textoBusca}&key=AIzaSyCZyt7FNEVc0RwmCIWmcx831Aoj6Ppr6so&fields=kind,items(volumeInfo(title,subtitle,authors,description,pageCount,categories,averageRating,imageLinks(thumbnail)))&orderBy=relevance`, { method: "GET" })
                        .then(response => response.json())
                        .then(data => {
                            this.livros = data.items;
                        });
                },
                verMais: function (livro) {
                    localStorage.setItem('livro', JSON.stringify(livro));
                    window.location.href = "{% url 'ver_mais' %}";
                },
                {% if not perfil_logado %}
                login: function () {
                    if (this.dadosUsuarioLogin.nomeUsuario != null && this.dadosUsuarioLogin.nomeUsuario != "" && this.dadosUsuarioLogin.senha != null && this.dadosUsuarioLogin.senha != "") {
                        this.enviaDados("{% url 'login' %}", this.dadosUsuarioLogin);
                    } else {
                        this.erro = true;
                        this.msgErro = "Preencha todos os campos.";
                    }
                },
                cadastro: function () {
                    if (this.dadosUsuarioCadastro.primeiroNome != null && this.dadosUsuarioCadastro.primeiroNome != "" &&
                        this.dadosUsuarioCadastro.segundoNome != null && this.dadosUsuarioCadastro.segundoNome != "" &&
                        this.dadosUsuarioCadastro.nomeUsuario != null && this.dadosUsuarioCadastro.nomeUsuario != "" &&
                        this.dadosUsuarioCadastro.email != null && this.dadosUsuarioCadastro.email != "" &&
                        this.dadosUsuarioCadastro.senha != null && this.dadosUsuarioCadastro.senha != "") {
                            this.enviaDados("{% url 'cadastro' %}", this.dadosUsuarioCadastro);
                    } else {
                            this.erro = true;
                            this.msgErro = "Preencha todos os campos.";
                    }
                },
                enviaDados: function (url, dados) {
                    fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            'X-CSRFToken': "{{ csrf_token }}"
                        },
                        mode: "same-origin",
                        body: JSON.stringify(dados)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.ok === true) {
                                window.location.href = "";
                            } else {
                                this.erro = true;
                                this.msgErro = data.msg;
                            }
                        });
                },
                {% endif %}
                reseta: function () {
                    this.erro = false;
                    if (localStorage.getItem('livro')) {
                        localStorage.removeItem('livro');
                    }
                }
            },
            beforeMount() {
                this.reseta();
            }
        });
    </script>
</body>

</html>